<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Underscore Demo</title>
  <script type="template/html" id="imageTmpl">
    <% _.each(githubData, function(element, index, list) { %>
          <%= element.name %>
          <%= element.email %>

        <img style="width:200px;" src="<%= element.avatar_url %>">

    <% }); %>

  </script>
  <script type="template/html" id="namesTmpl">
    <% _.each(githubData, function(element, index, list) { %>

        <h2><%= element.login %></h2>
<a href="<%= element.repos_url %>"><%= element.repos_url %></a>

    <% }); %>

  </script>

</head>
<body>
<h1>Underscore</h1>
<div style="background-color:yellow;" class="pictures">

</div>
<div class="text">
  <button class="showPictures">Show Pictures</button>

</div>
<script type="text/javascript" src="node_modules/underscore/underscore.js"></script>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="data.js"></script>
<script type="text/javascript" src="main.js"></script>

</body>
</html>
